﻿<!DOCTYPE html>
<html ng-app="photos">
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body ng-controller="photosCtrl">
    <h1>Фотографии пользователя {{photosData.userName}}</h1>
        <div ng-repeat="info in photosData.info">
            <img ng-src="{{info.pathToPhoto}}" alt=""/>
            <div>
                Like: 
                <span ng-repeat="person in info.whoLike">
                    {{person}}
                </span>
            </div>
        </div>
    <script src="../SocialApp.Front/bower_components/angular/angular.js"></script>
    <script src="../SocialApp.Front/App/App.js"></script>
    <script src="../SocialApp.Front/App/Pages/Controllers/photoCtrl.js"></script>
    <script src="../SocialApp.Front/App/Pages/Services/photoService.js"></script>
</body>
</html>
